@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

ul {list-style-type: none;}

* {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.nav-container{
  display: flex;
  list-style-type: none;
  background-color: #B5838D;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.nav-item {
  margin: 0rem 1rem;
}

.header-items {
  font-size: 25px;
  letter-spacing: 2px;
}

.header-items:hover{
  color:white;
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
  cursor: pointer;
}

.grid-container {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.background-images{
  width: 99%;
  height:auto;
  border-radius: 25px;
  padding-left:0.5rem;
  grid-area: 1 / 2 / 3 / 3;
}

.media-nav{
  justify-content: space-evenly;
}

.clock{
  font-size: 2rem;
  padding: 0.4rem 2rem 0.4rem 2rem;
  color: black;
  background-color: white;
  border-radius: 15px;
  letter-spacing: 5px;
}

.clock:hover 
{
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}

audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}

.button{
  font-size: 30px;
  padding: 0.4rem 3rem 0.4rem 3rem;
  color: black;
  background-color: white;
  border-radius: 15px;
  letter-spacing: 2px;
}

.button:hover{
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}